:root {
  --g-color-main-black: #000000;
  --g-color-main-white: #ffffff;
  --g-color-main-dark: #1B1F3A;
  --g-color-main-red: #FD3B3B;
  --g-color-main-orange: #FE7913;

  --g-color-lightgray: #F2F2F2;
  --g-color-lightgray-text: #8787A3;
  --g-color-darkgray: #555555;
  --g-color-darkgray-text: #999999;

  --g-color-button: #FD3B3B;
  --g-color-button-hover: #FE7913;
  --g-color-button-text: #EAEAEA;

  --g-input-bg: #ffffff;
  --g-input-text: #EAEAEA;

  --gray-bar: #DCDCDC50;
  --table-border-inner: #bbbbbb;
  --sidebar-text: #ffffff;
  --header-bg: #ffffff;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--g-color-main-white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  margin: 5px 0;
}

h1, h2, h3, h4, h5, h6, p, a, td, tr, div{
  color: var(--g-color-main-black)
}

input, textarea {
  background: var(--g-input-bg);
  color: var(--g-input-text);
  margin: 5px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.serviceMainContainer{
  background-color: var(--g-color-main-white);
  margin: 15px;
  padding: 20px;
  border-radius: 5px;
}
table {
  width: 100%;
  table-layout: fixed;
  border: 2px solid var(--g-color-darkgray);
  border-collapse: collapse;
}
table > thead > tr {
  border-bottom: 2px solid var(--g-color-darkgray);
  background: var(--g-color-lightgray);
}
th, td {
  background: var(--g-color-main-white);
  border: 1.5px solid var(--table-border-inner);
  padding: 8px;
  font-size: 14px;
}
table .textAlignCenter {
  word-wrap: break-word;
  text-align: center;
}
.flexBoxCenter {
  display: flex;
  justify-content: center;
}

.flexBoxSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.flexBoxStart {
  display: flex;
  justify-content: flex-start;
}

.flexBoxEnd {
  display: flex;
  justify-content: flex-end;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto;
}

.gridContainer h4 {
  margin: 8px 8px;
  font-size: 18px;
}

.gridContainer p {
  font-weight: bold;
  margin-left: 12px;
  font-size: 14px;
}

/* 인풋 스타일 초기화 */
.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.filebox .uploadName {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  width: 60%;
  color: var(--g-color-darkgray-text);
  text-align: start;
}

.filebox label {
  display: inline-block;
  padding: 10px 20px;
  color: var(--g-color-main-white);
  vertical-align: middle;
  background-color: var(--g-color-darkgray-text);
  cursor: pointer;
  height: 40px;
  margin-left: 10px;
}

/* 버튼 UI */
button {
  background: var(--g-color-button);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
    
  margin: 0.3rem;
  padding: 0.5rem 1rem;
    
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
    
  border: none;
  border-radius: 4px;
    
  display: inline-block;
  width: auto;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  
  cursor: pointer;
  
  transition: 0.5s;

  color: var(--g-color-button-text);
}
button.dark {
  background: #393E46;
}
button.light {
  background: #393E46;
}
button.dark:hover {
  background: #393E46;
  color: yellow;
}
button.light:hover {
  background: #393E46;
  color: #EB1D36;
}
button:hover {
  background: var(--g-color-button-hover);
}
button:active
button:focus {
  outline: 0;
}
button:disabled {
  opacity: 0.5;
}