/* home(login) */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  margin-top: 10rem;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.title h1 {
  margin: 0 0 0 10px;
}

.formContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.formContainer input {
  border: solid;
  width: 400px;
  height: 60px;
  border-radius: 10px;
  margin: 4px;
  padding: 8px;
  border-width: 2px;
  border-color: var(--g-color-lightgray);
  font-size: 16px;
}

.formContainer button {
  border: none;
  border-radius: 10px;
  background: var(--g-color-main-red);
  height: 60px;
  width: 400px;
  text-align: center;
  font-size: 18px;
  color: white;
  margin: 4px 0 10px 0;
  cursor: pointer;
}

.grayLine {
  height: 2px;
  background-color: var(--g-color-lightgray)
}

.grayText {
  text-align: center;
  color: var(--g-color-lightgray-text);
  font-size: 12px;
  margin: 4px 0 0 8px;
}

#errorMessage {
  width: 100%;
  text-align: end;
  color: var(--g-color-main-red);
  font-size: 12px;
  font-weight: bold;
  margin: 4px;
  padding: 0 8px;
}